<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hatchers.solar_conduction_dryer">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".activity.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon_scd"
        android:label="Solar Conduction Dryer"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDNy8LtZJkwI3z0EXsEf883n1UhX75Ny6s"/>

        <activity android:name=".activity.activity.Menu_Activity"></activity>
        <activity android:name=".activity.activity.SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.user_registration.UserRegistration" >

        </activity>
    </application>

</manifest>